name: Build
on:
  push:
    paths-ignore:
      - "docs/**"
      - "logo/**"
      - "examples/**"
      - "README.md"
    branches:
      - "master"
  pull_request:
    branches:
      - "master"
      - "feat/*"
      - "fix/*"
jobs:
  build_job:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: WillAbides/setup-go-faster@v1.7.0
        with:
          go-version: "1.17.7"
      - run: |
          go install honnef.co/go/tools/cmd/staticcheck@2022.1.3
      - uses: extractions/setup-just@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: just test
      - uses: rinx/setup-k3d@v0.0.4
        with:
          skipClusterCreation: true
      - uses: jaxxstorm/action-install-gh-release@v1
        with:
          repo: GoogleContainerTools/skaffold
          tag: v2.6.1
          cache: enable
          extension-matching: disable
          rename-to: skaffold
          chmod: 0755
      - run: just k3d
      - run: pip install httpie
      - run: |
          just test-e2e-all
      - name: failure logs
        if: ${{ failure() }}
        run: |
          echo "---------------------------------------"
          kubectl get all
          echo "---------------------------------------"
          kubectl describe po kube-mgmt-opa-kube-mgmt || true
          echo "---------------------------------------"
          kubectl logs -l app=kube-mgmt-opa-kube-mgmt -c opa --tail=-1
          echo "---------------------------------------"
          kubectl logs -l app=kube-mgmt-opa-kube-mgmt -c mgmt --tail=-1
          echo "---------------------------------------"
